Tag: init.d-script-has-unknown-lsb-keyword
Severity: warning
Check: init.d
See-Also: https://wiki.debian.org/LSBInitScripts
Explanation: The given keyword was set in the LSB keyword section in this
 <code>/etc/init.d</code> script but isn't one of the known LSB keywords and
 doesn't begin with <code>X-</code>. One of the standard keywords may have
 been misspelled.
